:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.search-form {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    background: linear-gradient(to right, rgb(134, 134, 223), rgb(22, 22, 104));
}

input {
    padding: 15px, 0, 15px, 15px;
    outline: none;
    border-radius: 3px;
    border: 1px, solid, black;
}

.submit {
    border-radius: 3px;
    border: 1px, solid, black;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(to left, rgb(134, 134, 223), rgb(22, 22, 104));

    transition: background-color 200ms linear;
}

.submit:hover
.load-more:hover {
    scale: 1.1;
    background: linear-gradient(to right, rgb(134, 134, 223), rgb(22, 22, 104));
}

.gallery-wrapper {
    margin-top: 90px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    //gap:15px;
    margin-top: 150px;
    margin-bottom: 50px;
    justify-content: flex-start;

    margin: -10px;
}

.photo-card {
    overflow: hidden;
    flex-basis: calc(100% / 4 - 20px);
    margin: 10px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

.photo-card__img:hover {
    transform: scale(1.03);
}

.photo-card__img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card__link {
    display: block;
    text-decoration: none;
    // height: 100%;
}

.photo-card__link:hover {
    cursor: zoom-in;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.is-hidden {
    display: none;
}

// .is-visible {
//     display: block;
// }